.button-edit {
  /* Сброс стилей тега */
  padding: 0;
  border: none;
  background: transparent;

  /* Стили класса */
  width: 24px;
  height: 24px;
  border: 1px solid #fff;
  box-sizing: border-box;

  cursor: pointer;
  transition: 600ms;

  position: relative;
}

.button-edit::after {
  content: '';

  width: 10px;
  height: 10px;

  position: absolute;
  top: calc(50% - 5px);
  left: calc(50% - 5px);

  background-image: url(../../../accets/images/edit-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.button-edit:hover {
  opacity: .6;
}

@media screen and (max-width: 425px) {
  .button-edit {
    width: 18px;
    height: 18px;
  }

  .button-edit::after {
    width: 7.5px;
    height: 7.5px;
    top: calc(50% - 3.75px);
    left: calc(50% - 3.75px);
  }
}
