.cards__list {
  /* Сброс стилей тега */
  margin: 0;
  padding: 0;
  list-style-type: none;

  /* Стили класса */
  width: 100%;

  display: grid;
  grid-template-rows: max-content;
  grid-template-columns: repeat(auto-fit, 282px);
  grid-auto-rows: max-content;
  gap: 20px 17px;
  justify-content: center;
}
