.page {
  min-width: 320px;
  max-width: 1280px;
  min-height: 100vh;
  margin: 0 auto;

  display: grid;
  grid-template-rows: max-content 1fr max-content;
  grid-template-columns: 200px 1fr 200px;
  grid-template-areas:
    ". header ."
    ". content ."
    ". footer .";
  justify-items: center;

  position: relative;

  /* Корневые стили страницы */
  background-color: #000;
  font-family: 'Inter', 'Arial', sans-serif;
  color: #fff;
  line-height: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}

@media screen and (max-width: 1279px) {
  .page {
    grid-template-columns: 100px 1fr 100px;
  }
}

@media screen and (max-width: 1080px) {
  .page {
    grid-template-columns: 50px 1fr 50px;
  }
}

@media screen and (max-width: 768px) {
  .page {
    grid-template-columns: 34px 1fr 34px;
  }
}

@media screen and (max-width: 425px) {
  .page {
    grid-template-columns: 19px 1fr 19px;
  }
}
