.button-add {
  /* Сброс стилей тега */
  padding: 0;
  border: none;
  background: transparent;

  /* Стили класса */
  width: 150px;
  height: 50px;

  border: 2px solid #fff;
  border-radius: 2px;
  box-sizing: border-box;

  cursor: pointer;
  transition: 600ms;

  position: relative;
}

.button-add::before {
  content: '';

  width: 22px;
  aspect-ratio: 1/1;
  border-top: 2px solid #fff;
  box-sizing: border-box;

  position: absolute;
  top: calc(50% - 1px);
  left: calc(50% - 11px);
}

.button-add::after {
  content: '';

  width: 22px;
  aspect-ratio: 1/1;
  border-left: 2px solid #fff;
  box-sizing: border-box;

  position: absolute;
  top: calc(50% - 11px);
  left: calc(50% - 1px);
}

.button-add:hover {
  opacity: .6;
}

@media screen and (max-width: 768px) {
  .button-add {
    width: 282px;
  }
}
