.card__place-name {
  /* Сброс стилей тега */
  margin: 0;

  /* Стили класса */
  grid-area: description;
  align-self: center;

  width: 100%;
  padding-left: 21px;
  box-sizing: border-box;

  font-size: 24px;
  line-height: 29px;
  font-weight: 900;
  color: black;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
