.form__input {
  /* Сброс стилей тега */
  margin: 0;
  padding: 0;
  border: 0;
  background-color: transparent;

  /* Стили класса */
  width: 100%;
  min-height: 35px;
  padding: 8px 1px 9px;
  box-sizing: border-box;
  border-bottom: 1px solid #00000020;

  font-size: 14px;
  line-height: 17px;
}

.form__input:focus-visible {
  outline: 3px solid #ADD8E6;
}

