.profile__user-about {
  grid-area: user-about;

  width: initial;
  min-width: 294px;
  max-width: 394px;
  margin: 0;

  font-size: 18px;
  line-height: 22px;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 1024px) {
  .profile__user-about {
    min-width: 232px;
    max-width: 332px;

    font-size: 16px;
    line-height: 20px;
  }
}

@media screen and (max-width: 768px) {
  .profile__user-about {
    text-align: center;
  }
}

@media screen and (max-width: 425px) {
  .profile__user-about {
    min-width: 189px;
    max-width: 289px;

    font-size: 14px;
    line-height: 17px;
  }
}
